<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) AS COUNT
		  FROM BOARD
		 WHERE BOARD_TYPE = 1
		   AND STATUS = 'Y'
	</entry>
	<entry key="selectList">
		SELECT *
		FROM(SELECT ROWNUM RNUM, A.*
		     FROM (SELECT BOARD_NO,
		                   CATEGORY_NAME,
		                   BOARD_TITLE,
		                   USER_ID,
		                   COUNT,
		                   TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') AS "CREATE_DATE"
		              FROM BOARD B
		              JOIN CATEGORY USING(CATEGORY_NO)
		              JOIN MEMBER M ON(BOARD_WRITER = USER_NO)
		             WHERE B.STATUS = 'Y'
		               AND BOARD_TYPE = 1
		             ORDER BY BOARD_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key = "increaseCount">
		UPDATE BOARD
		   SET COUNT = COUNT + 1
		 WHERE BOARD_NO = ?
		   AND STATUS = 'Y'
	</entry>
	<entry key = "selectBoard">
		SELECT BOARD_NO,
			   CATEGORY_NAME,
               BOARD_TITLE,
               BOARD_CONTENT,
               USER_ID,
               TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') AS "CREATE_DATE"
          FROM BOARD
          LEFT JOIN CATEGORY USING(CATEGORY_NO)
          JOIN MEMBER ON(BOARD_WRITER = USER_NO)
         WHERE BOARD_NO = ?
	</entry>
	<entry key = "selectAttachment">
		SELECT FILE_NO,
			   ORIGIN_NAME,
			   CHANGE_NAME,
			   FILE_PATH
          FROM ATTACHMENT
         WHERE REF_BNO = ?
	</entry>
	<entry key="selectCategoryList">
		SELECT CATEGORY_NO,
			   CATEGORY_NAME
		  FROM CATEGORY
	</entry>
	<entry key="insertBoard">
		INSERT 
		INTO BOARD(
					BOARD_NO,
					BOARD_TYPE,
					CATEGORY_NO,
					BOARD_TITLE,
					BOARD_CONTENT,
					BOARD_WRITER
					)
			VALUES(
					SEQ_BNO.NEXTVAL,
					1,
					?,
					?,
					?,
					?
			)
	</entry>
	<entry key="insertAttachment">
		INSERT
		INTO ATTACHMENT(
						 FILE_NO,
						 REF_BNO,
						 ORIGIN_NAME,
						 CHANGE_NAME,
						 FILE_PATH
						)
				 VALUES(
				 		 SEQ_FNO.NEXTVAL,
				 		 SEQ_BNO.CURRVAL,
				 		 ?,
				 		 ?,
				 		 ?
				 		)
	</entry>
	<entry key="insertNewAttachment">
		INSERT
		INTO ATTACHMENT(
						 FILE_NO,
						 REF_BNO,
						 ORIGIN_NAME,
						 CHANGE_NAME,
						 FILE_PATH
						)
				 VALUES(
				 		 SEQ_FNO.NEXTVAL,
				 		 ?,
				 		 ?,
				 		 ?,
				 		 ?
				 		)
	</entry>
	<entry key="updateBoard">
		UPDATE BOARD
		   SET CATEGORY_NO = ?,
		   	   BOARD_TITLE = ?,
		   	   BOARD_CONTENT = ?
		 WHERE BOARD_NO = ?
	</entry>
	<entry key="updateAttachment">
		UPDATE ATTACHMENT
		   SET ORIGIN_NAME = ?,
		   	   CHANGE_NAME = ?,
		   	   FILE_PATH = ?
		 WHERE FILE_NO = ?
	</entry>
	<entry key="selectThumbnailList">
		SELECT BOARD_NO,
			   BOARD_TITLE,
			   COUNT,
			   FILE_PATH || CHANGE_NAME AS "TITLE_IMG"
		  FROM BOARD B
		  JOIN ATTACHMENT ON(BOARD_NO = REF_BNO)
		 WHERE BOARD_TYPE = 2
		   AND B.STATUS = 'Y'
		   AND FILE_LEVEL = 1
		 ORDER BY BOARD_NO DESC
	</entry>
	<entry key="insertThBoard">
		INSERT 
		INTO BOARD(
					BOARD_NO,
					BOARD_TYPE,
					BOARD_TITLE,
					BOARD_CONTENT,
					BOARD_WRITER
					)
			VALUES(
					SEQ_BNO.NEXTVAL,
					2,
					?,
					?,
					?
			)
	</entry>
	<entry key="insertAttachmentList">
		INSERT
		INTO ATTACHMENT(
						 FILE_NO,
						 REF_BNO,
						 ORIGIN_NAME,
						 CHANGE_NAME,
						 FILE_PATH,
						 FILE_LEVEL
						)
				 VALUES(
				 		 SEQ_FNO.NEXTVAL,
				 		 SEQ_BNO.CURRVAL,
				 		 ?,
				 		 ?,
				 		 ?,
				 		 ?
				 		)
	</entry>
	<entry key="insertReply">
		INSERT
		INTO REPLY
		(
			REPLY_NO,
			REPLY_CONTENT,
			REF_BNO,
			REPLY_WRITER
		)
		VALUES
		(
			SEQ_RNO.NEXTVAL,
			?,
			?,
			?
		)
	</entry>
	<entry key="selectReplyList">
		SELECT REPLY_NO,
			   REPLY_CONTENT,
			   USER_ID,
			   TO_CHAR(CREATE_DATE, 'YY/MM/DD HH:MI') AS "CREATE_DATE"
		  FROM REPLY R
		  JOIN MEMBER M ON(REPLY_WRITER = USER_NO)
		 WHERE R.STATUS = 'Y'
		   AND REF_BNO = ?
		 ORDER BY REPLY_NO DESC
	</entry>
</properties>


