body{
    margin: 0;
    padding: 0;
    color: white;
    background: #0f0f0f;
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 60px;
    padding-left: 72px;
}

div{
    box-sizing: border-box;
}

p{
    margin: 0px;
}

main{
    padding: 10px 20px 0px;
}