<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>elAction</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>el.do</display-name>
    <servlet-name>el.do</servlet-name>
    <servlet-class>com.kh.controller.ElServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>el.do</servlet-name>
    <url-pattern>/el.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>operation.do</display-name>
    <servlet-name>operation.do</servlet-name>
    <servlet-class>com.kh.controller.OperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>operation.do</servlet-name>
    <url-pattern>/operation.do</url-pattern>
  </servlet-mapping>
</web-app>